<%= f.config_input :piwik_url, as: :string, label: t('.url') %>
<div class="row">
  <div class="col-xs-6 col-sm-4">
    <%= f.config_input :site_id, as: :integer, label: t('.site_id') %>
  </div>
</div>
